anthropic==1.8.0
beautifulsoup4==4.15.0
defusedxml==0.7.1
imageio==2.37.4
lxml==6.1.1
mcp==2.2.0
numpy==2.5.3
openai==3.19.2
openpyxl==3.1.5
pandas==3.0.6
pdf2image==1.17.0
pdfplumber==0.11.10
Pillow==12.3.0
playwright==1.62.0
protobuf==7.36.2
pynput==1.6.8
pypdf==6.19.0
pyside6==6.11.1
PySide6==6.11.2
pyside6_addons==6.11.1
pyside6_essentials==6.11.1
PyYAML==6.0.3
Requests==2.34.2
